<h1 align='center'>Assignment 6</h1>

<h3>Q1</h3>
<b>What are escape characters, and how do you use them?

<pre>
Escape character are used we want to enter a character that are not suitable in the string

Escape character is a backlash \; which is followed by a character that we want to insert.

For example:
        \n ---> Next Line
        \t ---> Tab
        \' ---> String

---

<h3>Q2</h3>
<b>What do the escape characters n and t stand for?

<pre>
\n is used for n i.e. Next Line
\t is used for t i.e. Tab

---

<h3>Q3</h3>
<b>What is the way to include backslash characters in a string?

In [3]:
print('This is John Cena's car')

SyntaxError: invalid syntax (<ipython-input-3-4c68646f4dd8>, line 1)

Now lets try to use using backslash & without an error

In [4]:
print('This is John Cena\'s car')

This is John Cena's car

---

<h3>Q4</h3>
<b>The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

<pre>
str1 = "Howl's Moving Castle"

This is a correct value as:
    The str1 has started with double quotes ; Also the str1 has ended with double quote
    Now even if we have a single quote is in between two double quote ; this won`t have any issue

---

<h3>Q5</h3>
<b>How do you write a string of newlines if you don't want to use the n character?

<pre>
Within the print() function we can use the parameter end and assignment the value \n

In [5]:
print('My name is Bond', end='\n')
print('James Bond!!')

My name is Bond
James Bond!!

In [9]:
print('My name is Bond', end=' ')
print(', James Bond!!')

My name is Bond , James Bond!!

---

<h3>Q6</h3>
<b>What are the values of the given expressions?
<pre>
'Hello, world!'[1]
'Hello, world!'[0:5]
'Hello, world!'[:5]
'Hello, world!'[3:]

In [10]:
'Hello, World!'[1]

'e'

In [11]:
'Hello, World!'[0:5]

'Hello'

In [12]:
'Hello, World!'[:5]

'Hello'

In [13]:
'Hello, World!'[3:]

'lo, World!'

---

<h3>Q7</h3>
<b>What are the values of the following expressions?
<pre>
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()

In [14]:
'Hello'.upper()

'HELLO'

In [15]:
'Hello'.upper().isupper()

True

In [16]:
'Hello'.upper().lower()

'hello'

---

<h3>Q8</h3>
<b>What are the values of the following expressions?
<pre>
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())

In [17]:
'Remember,1 remember,2 the fifth of July.'.split()

# This will SPLIT the string into list with space as a delimeter

['Remember,1', 'remember,2', 'the', 'fifth', 'of', 'July.']

In [18]:
# Just for explanation
print('There can only one.'.split())

# ACTUAL OPERATION
'-'.join('There can only one.'.split())

# Here First the SPLIT OPERATION IS PERFOMED USING SPACE
# A LIST WILL BE GENERATED 
# LATER THAT LIST WILL BE RECOMBINED/JOINED USING '-'

['There', 'can', 'only', 'one.']

'There-can-only-one.'

---

<h3>Q9</h3>
<b>What are the methods for right-justifying, left-justifying, and centering a string?

<pre>
rjust()  --> Right Justifying
ljust()  --> Left Justifying
center() --> Center Justifying

<b>Example

In [20]:
# Left Justifying
str1 = 'John'
str1.ljust(10,'-')

'John------'

In [21]:
# Right Justifying
str1 = 'John'
str1.rjust(25,'-')

'---------------------John'

In [22]:
# Right Justifying
str1 = 'John'
str1.center(10,'*')

'***John***'

---

<h3>Q10</h3>
<b>What is the best way to remove whitespace characters from the start or end?

<pre>
These can be the two methods for removing white spaces from the start or end
lstrip()
rstrip()

In [23]:
str1 = '    JOHN    '

l = str1.lstrip()
r = str1.rstrip()

In [24]:
print(f'Left Strip: {l}')
print(f'Right Strip: {r}')

Left Strip: JOHN
Right Strip:     JOHN