<h1><center>Assignment 1</h1>

<h3>Q1</h3>
<b>In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.</b>

1. <b>*</b>
2. <b>"hello"</b>
3. <b>-87.8</b>
4. <b>-</b>
5. <b>/</b>
6. <b>+</b>
7. <b>6</b>


    1. *       --> is a Expression (Multiplication Operator)
    2. "Hello" --> is a Value (String DataType)
    3. -87.8   --> is a Value (Negative Integer)
    4. -       --> is a Expression (Subtraction Operator)
    5. /       --> is a Expression (Division Operator)
    6. +       --> is a Expression (Addition Operator)
    7. 6       --> is a Value (Positive Integer)

---

<h3>Q2</h3>
<b>What is the difference between string and variable?</b>


String is used for storing String Values
For Example: "xyz"
    So "xyz" is a String in Quotes

Varibale is a kind of storage of information.
It can store any datatype like string, int, float etc
For Example num = 23
    Here num is used for storing an integer value
    
    b = "string"
    Here b is used for storing a String.
    
    c = 6+4j
    Here c is storing an Complex value

---

<h3>Q3</h3>
<b>Describe three different data types.</b>

1) string
2) Integer
3) Float

String : 
Example: s = 'XYZ'
    s is a variable storing "XYZ" as String

Integer
Example: s = 23
    s is a variable storing an Integer value 

Float
Example: x = 23.23
    x is a variable storing 23.23 as a float value

---

<h3>Q4</h3>
<b>What is an expression made up of? What do all expressions do?</b>

Expression is made up of different kind of Operators and methods based on the language we use.

some example of Operators are:

    Arithmetic Operators :: + - * / 
    
    Comparision Operators :: < > <= >= == !=
    
    Logical Operators :: and or not


Examples of Expression:
As given an example of Expressions and Operators in Q1 which can be taken into consideration

Ex1: "John cena" --- Expression

Ex2: "John " * 2 Output: "John John "

Ex3: 4+8 Output: 12


As explained Expression is combination of Variables, Operators and Methods.
It needs to be evluated/calulated
When Python evaluates the expression, it displays the result of the expression

---

<h3>Q5</h3>
<b>This assignment statements, like spam = 10. What is the difference between an expression and a statement? </b>


Statement describes an element/object/variable.
Print and Assignment Statement can be called as a Statement that represent an action
Example :
    print('Abc') output :  Abc
Example :
    x = 123
    
Also, spam = 10 is an example of Statement as value 10 is been assigned to variable "spam"

---------------------------------------------------------------------------------------------------

Expression is a combination of Variables, Operators and Methods to produce a result Value.
Expression can also be reduced to a single value.

Ex1: 4+1 output : 5

---

<h3>Q6</h3>
<b>After running the following code, what does the variable bacon contain?</b><br>
bacon = 22<br>
bacon + 1

In [1]:
bacon = 22

In [2]:
bacon + 1

23

In [3]:
bacon

22

bacon at the start is assigned value 22

bacon +1 is not assigned to the variable bacon, hence the variable of bacon will contain 22.

---

<h3>Q7</h3>
<b>What should the values of the following two terms be?</b><br>
'spam' + 'spamspam'<br>
'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

The output of the two operations is the same

---

<h3>Q8</h3>
<b>Why is eggs a valid variable name while 100 is invalid?

A variable name never starts from numeric values, it starts from alphabets a-Zz.
if we want to include numbers in the name of the variable then we can start the variable name with alphabets then use '_'
and then use the numbers eg: eggs_100
    
Hence, egg is a valid variable name and 100 is invalid variable name

---

<h3>Q9</h3>
<b>What three functions can be used to get the integer, floating-point number, or string version of a value?

<pre>
int()
float()
str()

These are the three functions which is used to get Integer, FLoating-Point Number and String Version of a Value

Example:

In [6]:
x = 23

x_int = int(x)

print(f'DataType: {type(x_int)} \n')

x_float = float(x)

print(f'DataType: {type(x_float)}\n')

x_string = str(x)

print(f'DataType: {type(x_string)}')

DataType: <class 'int'>

DataType: <class 'float'>

DataType: <class 'str'>

---

<h3>Q10</h3>
<b>Why does this expression cause an error? How can you fix it?</b><br>
'I have eaten ' + 99 + 'burritos.'

In [7]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

Concatenation of str and int is not possible

This can be fixed by converting the datatype of the number 99 to string

In [8]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'